@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Formulaire d'ajout de personne

<form method="post" >
    FirstName : <input type="text" name="FirstName" /><br />
    LastName : <input type="text" name="LastName" /><br />
    Age : <input type="text" name="Age" /><br />

    <input type="submit" />
</form>
