@model Person

<form method="post" >
    Id : <input type="text" name="PersonId" value="@Model.PersonId" readonly /><br />
    FirstName : <input type="text" name="FirstName" value="@Model.FirstName" /><br />
    LastName : <input type="text" name="LastName" value="@Model.LastName" /><br />
    Age : <input type="text" name="Age" value="@Model.Age" /><br />

    <input type="submit" />
</form>