<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        @if(IsSectionDefined("footer"))
        {
            @RenderSection("footer")
        }
        else
        {
            @*@await Html.PartialAsync("_MyPartialView")*@
            <partial name="_MyPartialView" /> 
        }
    </footer>
</body>
</html>
